@model OmniMerit.Models.CustomModel.StudentInfo
@if (ViewBag.Message != null)
{
    <div style="border: solid 1px green">
        @ViewBag.Message
    </div>
}
<div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
    @using (Html.BeginForm(Html.BeginForm("SignUpInfo", "SignUpInfo", FormMethod.Post,
        new { enctype = "multipart/form-data" })))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "Name" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "Password" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "Email" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "Phone" } })
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })


        @Html.DropDownListFor(x => x.Class, new SelectListItem[]{
                       
                new SelectListItem() {Text = "X", Value="X"},
                new SelectListItem() {Text = "XI", Value="XI"},
                new SelectListItem() {Text = "XII", Value="XII"}}, new { @class = "form-control" })

        @Html.EditorFor(model => model.Board, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "Name" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
       
                                <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary pull-right">Log In</button>
                                <div id="status"></div>

                                <br /><br /><br />
    }
</div>